.page {
  margin: 2rem 0;
  overflow-y: scroll;
}

.add-product-form {
  width: 400px;
  padding: 2rem;
  background-color: whitesmoke;
  border-radius: 1rem;
  overflow-y: scroll;
  text-align: center;
  margin: 5rem auto;
  position: relative !important;
}

.form-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.form-close-btn {
  position: absolute;
  top: 10px;
  right: -40%;
}

.form-content > * {
  margin: 0.5rem 0;
}

.product-form-textarea {
  margin-top: 2.5rem;
}

.add-product-title {
  font-size: 1.5rem;
  color: #ee2c56;
  text-decoration: underline;
  margin-bottom: 0;
}

.add-product-divider {
  display: flex;
  justify-content: space-between;
}

.add-product-divider > * {
  margin: 0 10px;
  max-width: 40%;
}

.flex {
  display: flex;
}

.d-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.admin-buttons-container {
  max-width: 300px;
  margin: 0 auto;
}

.admin-buttons-container > * {
  margin: 1rem 0;
}

@media (max-width: 600px) {
  .add-product-form {
    width: 95vw;
    padding: 0;
    height: 100vh;
    margin: 2rem auto;
  }
}
