.productsCarousel {
  overflow-x: scroll;
  scrollbar-width: none; /* Hide Scrollbar in firefox*/
  white-space: nowrap;
}

.productsCarousel::-webkit-scrollbar {
  display: none;
  background: transparent;
  width: 0;
}

@media (max-width: 1200px) {
  .productsCarousel {
    justify-content: unset !important;
  }
}
