body,
.App {
  background-color: #faf9f9;
  color: #222 !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  user-select: none;
}

.errorMessage {
  animation: 0.1s linear ErrorPopUp;
}

#searchIconWrapper {
  cursor: pointer;
  padding: 0.9rem;
  background-color: #e9e8e8;
  border-radius: 5px;
}

#searchIconWrapper:hover #searchIcon {
  transform: scale(1.2);
}

@keyframes ErrorPopUp {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
