.componentTransition {
  animation: componentTransition 0.4s;
}

.transition {
  animation-name: transition;
  animation-duration: 0.6s;
  overflow: hidden;
}

@keyframes transition {
  from {
    transform: translateX(30%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes componentTransition {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}
